html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color: #eeeeee;
}

/* PLACEHOLDER BORDERS*/
section, footer {
    border:2px solid black;
    text-align: center;
}

nav, .section-title {
    border: 2px solid red;
}
.content {
    border:2px solid blue;
    padding: 20px 0;
}

ul {
    display:flex;
    justify-content: flex-end;
    gap:20px;
    list-style-type: none;
}

img {
    /*width:300px;
    height:300px;*/
    background-color: #464646;
}

.images {
    --gap: 16px;
    --num-cols:4;
    --row-height: 300px;

    box-sizing:border-box;
    padding: var(--gap);

    display:grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.images > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1024px) {
    .images {
        --num-cols:2;
        --row-height: 200px;
    }
}

@media screen and (max-width:600px) {
    .images {
        --num-cols:1;
     
    }
}

.grid-row-2 {
    grid-row: span 2;
}

.grid-col-2 {
    grid-column: span 2;
}